

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: vh;
    margin: 0;
    background-image: url(../imagens/fundo-madeira.jpg );
    background-position:center ;
   }

   iframe{
    width: 264px;
    height: 469px;
    margin: 23px;
    margin-top: 77px;
   }
     
    #caixa {
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    height: 630px;
    width: 305px;
    margin-top: 40px;
   }

   section#apps{
    margin: 10px;

   }


   img{
     max-height: 100px;
     max-width:50px ;
     border-radius: 30px;
     }

     img:hover{
      border: 2px solid rgb(167, 232, 252);
      
     }